<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="../assets/images/icon.png"
      type="image/png"
    />
    <title>Bandgrid</title>

    <!--
    - custom css link
  -->
    <link rel="stylesheet" href="../assets/css/main.css" />
    <link rel="stylesheet" href="../assets/css/media_query.css" />

    <!--
    - google font link
  -->
    <link
      href="https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900"
      rel="stylesheet"
    />
  </head>

  <body>
    <!--
    - main container
  -->
    <div class="container">
      <!--
      - #HEADER SECTION
    -->
      <% include ../partials/navbar %>

      <!--
      - MAIN SECTION
    -->
      <main>
        <div style="display: flex;justify-content: center;">
            <div class="card-post">
                <center>
                <h3 style="margin-top: 10px;">POST UPLOAD</h3>
                <form action="/users/postadd" method="post" class="postadd-form" enctype="multipart/form-data">
                    <input
                      type="text"
                      name="title"
                      placeholder="Enter title..."
                      class="postadd-form-in"
                    required/>
                    <textarea name="content" id="" cols="30" rows="10" class="postadd-form-in" placeholder="Enter Content..." required></textarea>
                    <input type="file" name="image" id="" class="postadd-form-in" accept="image/*">
                    <input type="submit" value="POST ADD" class="postadd-form-in" style="width: 150px;cursor: pointer;">
                 </center>
                  </form>            
            </div>    
        </div>
        
      <!--
      - FOOTER SECTION
    -->
    <footer>
      <div class="footer-content">
        <div class="footer-brand">
          <img src="../assets/images/logo.png" alt="" class="footer-logo" />
          <p class="slogan">
            Internet Platform & Social Network & Blog Style,Anyone Can Upload The Post.
          </p>

          <div class="social-link">
            <a href="#">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
            <a href="#">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
            <a href="#">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
            <a href="#">
              <ion-icon name="logo-tiktok"></ion-icon>
            </a>
            <a href="#">
              <ion-icon name="logo-youtube"></ion-icon>
            </a>
          </div>
        </div>

        <div class="footer-links">
          <ul>
            <h4 class="link-heading">BandGRid</h4>

            <li class="link-item"><a href="#">About us</a></li>
            <li class="link-item"><a href="/users">My profile</a></li>
            <li class="link-item"><a href="/allposts">All Posts</a></li>
            <li class="link-item"><a href="#">Contacts</a></li>
          </ul>

          <ul>
            <h4 class="link-heading">Function</h4>

            <li class="link-item"><a href="/users/postadd">Create Post</a></li>
            <li class="link-item"><a href="/">Most Liked Posts</a></li>
            <li class="link-item"><a href="/users">My Posts</a></li>
            <li class="link-item"><a href="/users/favblogs">Fav Blogger Posts</a></li>
          </ul>

          <ul>
            <h4 class="link-heading">Help</h4>

            <li class="link-item"><a href="/users">Account</a></li>
            <li class="link-item"><a href="/users/profile-setting">Setting</a></li>
            <li class="link-item"><a href="/changepassword">Password Change</a></li>
            <li class="link-item"><a href="/logout">Logout</a></li>
          </ul>
        </div>
      </div>

      <div class="footer-copyright">
        <div class="copyright">
          <p>&copy; copyright 2022 BandGRid</p>
        </div>

        <div class="wrapper">
          <a href="#">Privacy policy</a>
          <a href="#">Terms and conditions</a>
        </div>
      </div>
    </footer>
    </div>

    <!--
    - custom js link
  -->
    <script src="../assets/js/main.js"></script>

    <!--
    - ionicon link
  -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>